services:

  #  postgres-headteacher:
  #    image: postgres:alpine
  #    container_name: postgres-headteacher
  #    environment:
  #      POSTGRES_USER: postgresheadteacher
  #      POSTGRES_PASSWORD: postgresheadteacher
  #      POSTGRES_DB: headteacherDB
  #    ports:
  #      - "5461:5432"
  #    volumes:
  #      - postgres-headteacher_pg_data:/var/lib/postgresql/data
  #
  #
  #  headteacher-service:
  #    build: ./headteacher-service
  #    container_name: headteacher-service
  #    ports:
  #      - "10000:10000"
  #    depends_on:
  #      - postgres-headteacher
  #    environment:
  #      SERVER_PORT: 10000
  #      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5461/headteacherDB
  #      SPRING_DATASOURCE_USERNAME: postgresheadteacher
  #      SPRING_DATASOURCE_PASSWORD: postgresheadteacher
  #      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #    restart: unless-stopped
  #
  #
  #  postgres-keycloak:
  #    image: postgres:alpine
  #    container_name: postgres-keycloak
  #    environment:
  #      POSTGRES_DB: keycloak
  #      POSTGRES_USER: keycloak
  #      POSTGRES_PASSWORD: keycloak
  #    ports:
  #      - "5460:5432"
  #    volumes:
  #      - postgres-keycloak_pg_data:/var/lib/postgresql/data
  #
  #
  #
  #  keycloak:
  #    image: quay.io/keycloak/keycloak:latest
  #    command: start-dev
  #    environment:
  #      KC_DB: postgres
  #      KC_DB_URL: jdbc:postgresql://postgres-keycloak:5432/keycloak
  #      KC_DB_USERNAME: keycloak
  #      KC_DB_PASSWORD: keycloak
  #      KEYCLOAK_ADMIN: admin
  #      KEYCLOAK_ADMIN_PASSWORD: admin
  #    ports:
  #      - "8080:8080"
  #    depends_on:
  #      - postgres-keycloak



  postgres-teacher:
    image: postgres:alpine
    container_name: postgres-teacher
    environment:
      POSTGRES_USER: postgresteacher
      POSTGRES_PASSWORD: postgresteacher
      POSTGRES_DB: teacherDB
    ports:
      - "5462:5432"
    volumes:
      - postgres-teacher_pg_data:/var/lib/postgresql/data

  #
  #
  #  teacher-service:
  #    build: ./teacher-service
  #    container_name: teacher-service
  #    ports:
  #      - "10001:10001"
  #    depends_on:
  #      - postgres-teacher
  #      - kafka
  #    environment:
  #      SERVER_PORT: 10001
  #      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5462/teacherDB
  #      SPRING_DATASOURCE_USERNAME: postgresteacher
  #      SPRING_DATASOURCE_PASSWORD: postgresteacher
  #      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #    restart: unless-stopped



  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8081:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      DYNAMIC_CONFIG_ENABLED: true










volumes:
  #  postgres-keycloak_pg_data:
  #  postgres-headteacher_pg_data:
  postgres-teacher_pg_data:
